<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>

  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-two-thirds">
      <ul class="usa-unstyled-list">
        <li class="usa-width-one-sixth usa-footer-primary-content">
        <%= link_to 'About',
          'http://kiahwee.github.io/gds-hive/',
          class: 'usa-footer-primary-link' %>
        </li>
        <li class="usa-width-one-sixth usa-footer-primary-content">
        <%= link_to 'Feedback',
          'https://goo.gl/forms/lKdnNHYdQHEFhaTw1',
          class: 'usa-footer-primary-link' %>
        </li>
        <li class="usa-width-one-sixth usa-footer-primary-content">
        <%= link_to 'Insights',
          insights_path,
          class: 'usa-footer-primary-link' %>
        </li>
      </ul>
      </nav>
      <div class="usa-width-one-third">
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <a href="https://github.com/idagds/micropurchase/">
            <i class="fa fa-github"></i> View on GitHub
          </a>
        </div>
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <%= mail_to 'ace@ida-gds.com' %>
        </div>
      </div>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        <%= image_tag "hive-logo.png", class: 'usa-footer-slim-logo-img logo-img', alt: 'Logo image' %>
        <div class="usa-footer-slim-logo-heading">Micro-purchase</div>
      </div>
    </div>
  </div>
</footer>
