<div class="usa-grid">
  <div class="profile-wrapper">
  <h1>Profile</h1>

  <%= simple_form_for @view_model.record, method: :put do |f| %>
    <h3>Contact information</h3>
    <%= f.input :name %>
    <%= f.input :email %>

    <h3>Placing a bid</h3>
    Everyone is eligible to place a bid.

    <h3>Getting paid</h3>
      <p>
      Before we can pay you, we'll need a location we can visit to issue
      payment. If you're unfamiliar with processing payments online, see
      <%= link_to 'our guide for more information', faq_path %>.
      </p>
      <%= f.input :payment_url %>

    <%= f.submit class: 'usa-button usa-button-outline' %>
  <% end %>
</div>
</div>
