<div class="usa-grid">
  <div class="profile-wrapper">
  <h1>Profile</h1>

  <%= simple_form_for @view_model.record, method: :put do |f| %>
    <h3>Contact information</h3>
    <%= f.input :name %>
    <%= f.input :email %>

    <h3>Placing a bid and getting paid</h3>
    <p>Everyone is eligible to place a bid.</p>

    <p>
    Since this is in alpha, payment is by cheque. The cheque can only be cashed in Singapore banks. Please leave your contact number below so we can call you.
    </p>
    <%= f.input :payment_url, label: 'Contact number' %>

    <%= f.submit class: 'usa-button usa-button-outline' %>
  <% end %>
</div>
</div>
